{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Erreur 403 </h1>

   
{% endblock %}

{% block sidebar %}
    
{% endblock %}
