
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/build/css/app.4aa95248.css">
{% endblock %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger">Erreur 500</h1>

    <p class="lead">
      Il y a eu une erreur interne du serveur.
    </p>
    
{% endblock %}

{% block sidebar %}
  
{% endblock %}
